---
- name: Install required packages
  loop: "{{ wireguard_packages }}"
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  tags:
    - wireguard

- name: Write config file
  notify:
    - Restart wireguard
  ansible.builtin.template:
    src: config.j2
    dest: "/etc/wireguard/{{ wireguard_interface }}.conf"
    mode: u=rw,g=,o=
  tags:
    - wireguard

- name: Start wireguard service
  ansible.builtin.systemd:
    name: "wg-quick@{{ wireguard_interface }}"
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - wireguard

...
