[Interface]
Address = {{ wireguard_ip }}
PrivateKey = {{ wireguard_private }}
ListenPort = {{ wireguard_port }}
{% for host in wireguard_peers | sort %}{% if host != inventory_hostname %}

[Peer]
PublicKey = {{ hostvars[host]["wireguard_public"] }}
AllowedIps = {{ hostvars[host]["wireguard_ip"] }}/{{ hostvars[host]["wireguard_netmask"] | default(wireguard_netmask) }}
Endpoint = {{ hostvars[host]["ansible_default_ipv4"]["address"] }}:{{ hostvars[host]["wireguard_port"] | default(wireguard_port) }}
{% endif %}{% endfor %}
